.mb-8 {
  text-align: center !important;
}
/* Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

/* Box */
.modal-box {
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 380px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
  animation: slideIn 0.3s forwards;
}

/* Title / Message */
.modal-box h3 {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "sans-serif";
  white-space: pre-line; /* For newlines in message */
  letter-spacing: 1px;
}

/* Close Button */
.close-btn {
  background: black;
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.close-btn:hover {
  background: #333;
}

/* Animations */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}
