.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  font-family: "Roboto", sans-serif;
  position: relative;

  overflow: hidden;
  padding-bottom: 20px;
}

.marquee {
  overflow: hidden;
  width: 100%;
  max-width: 90%;
}

.marquee-content {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.marquee-item {
  min-width: 500px;
  height: 300px;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 0px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .options-container {
    display: none !important;
  }
}
