.unique-app {
  width: 100%;
  display: none;

  background: white !important;
  color: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.unique-swiper {
  width: 100%;
  height: 100%;
}

.unique-slide {
  text-align: center;
  font-size: 18px;
  background: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unique-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .unique-app {
    display: block;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "next";
    color: #000000;
    font-size: 25px;
    display: none;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "prev";
    color: #000000;
    display: none;
    font-size: 25px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  display: none;
}
