.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 14px 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.m {
  display: none;
}

.nav-logo {
  width: 60px;
  height: 60px;
}
.nav-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Menu Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  transition: all 0.3s ease;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  color: #333;
  font-size: 17px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  display: none;
  width: 0%;
  height: 2px;
  background-color: green;
  transition: width 0.3s ease;
}

.nav-links li:hover {
  color: green;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links .activ {
  color: green;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 25px;
}

.login-register {
  cursor: pointer;
  font-weight: 500;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
}

.login-register:hover {
  color: darkgreen;
}

.appointment-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(45deg, #005baa, #000000);

  color: white;
  border: none;
  padding: 18px 18px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 12px rgba(40, 167, 69, 0.3);
  transition: all 0.3s ease;
}

.appointment-btn:hover {
  background: linear-gradient(90deg, #ff0044, #ff9900);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(40, 167, 69, 0.4);
}

.btn-icon {
  font-size: 1.2rem;
}

.flexuser {
  display: flex;
  align-items: center;
  gap: 4px;
}

.user {
  margin-top: 4px;
}

/* Hamburger Menu Button */
.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .m {
    display: block !important;
  }
  .nav-links li {
    cursor: pointer;
    font-weight: 500;
    color: white;
    font-size: 17px;
    position: relative;
    transition: color 0.3s ease;
  }
  .main-navbar {
    flex-wrap: wrap;
  }

  /* Hide list initially */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 18px;
    margin-top: 10px;
    height: 246px;
    padding: 15px;
    border-radius: 8px;
  }
  .appointment-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: linear-gradient(45deg, #005baa, #000000);
    color: white;
    border: none;
    padding: 18px 7px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px !important;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 12px rgba(40, 167, 69, 0.3);
    transition: all 0.3s ease;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .menu-icon {
    display: block;
    margin-top: 0px;
    cursor: pointer;
  }
  .main-navbar {
    padding: 0px 0px !important;
    width: 100%;
    flex-wrap: wrap;
    background: #003366;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .nav-links li:hover {
    color: white !important;
  }

  .nav-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: white !important;
    transition: width 0.3s ease;
  }
}
