.download-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 10px;

  background-color: #f8f8f8;
  border-radius: 12px;
  overflow: hidden;
}

.download-image {
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.download-btn {
  margin-top: -60px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.download-btn:hover {
  background-color: #0056b3;
}
@media screen and (max-width: 768px) {
  .download-section {
    display: none !important;
  }
}
