.banner-slider {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.slide-container {
  position: relative;
}

.slider-img {
  width: 94.8%;
  margin: auto;
  height: 490px;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  top: 35%;
  left: 22%;
  font-weight: 100;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 80%;
}

.slide-text h1 {
  font-size: 3rem;

  font-weight: normal;
  margin-bottom: 10px;
}

.slide-text p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.slider-buttons {
  display: flex;
  justify-content: end;
  gap: 9px;
  margin-top: 5px;
  margin-right: 25px !important;
  padding: 10px 20px;
}

.slider-btn {
  background: linear-gradient(45deg, #005baa, #000000);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slider-btn:hover {
  background: linear-gradient(90deg, #ff0044, #ff9900);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 102, 0, 0.3);
}
.phoneslider {
  display: none !important;
}
@media (max-width: 768px) {
  .slider-img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    margin-top: 2px;
  }
  .desktopslide {
    display: none !important;
  }
  .phoneslider {
    display: block !important;
  }
}
@media screen and (max-width: 390px) {
  .slider-img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    margin-top: 2px;
  }
}
